.container { 
  max-width: 1440px; 
  padding-left: 0;  
  padding-right: 0;  
  margin-left: 0;  
  margin-right: 0;  
}
.box {
    display: flex;
    border: 1px solid #000;
    width: 1440px;
    background-color: #ffffff;
    margin-top: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px 0 rgba (46, 47, 66, 0.1);
}
.section {
    padding: 120px;
}
.logo {
    font-family:"Raleway", sans-serif;
    text-transform:uppercase;
    font-weight:700;
    font-size:18px;
    line-height:1.17;
    letter-spacing:0.03em;
    color:#2e2f42;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    padding: 0;
    margin-left: 115px;
}
.logo-text {
    color:#4d5ae5;
}
.menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 261px;
    margin-left: 347px;
}
.menu-set {
    width: calc((100% - 80px) / 3);
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.02em;
    color: #2e2f42;
}
.menu:hover, .menu:focus {
    color:#404bbf;
}
.connect {
    font-style:normal;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
}
.contacts {
    color:#434455;
}
.contacts:hover, 
.contacts:focus {
    color:#404bbf;
}
.hero {
    display: block;
    max-width: 100%;
    margin-top: 72px;
    padding: 0;
    background-color:#2e2f42;
}
.hero-title {
    margin-left: 472px;
    font-size:56px;
    line-height:1.07;
    letter-spacing:0.02em;
    text-align:center;
    color:#ffffff;
}
.button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: 636px;
    margin-top: 428px;
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.04em;
    cursor:pointer;
    color:#ffffff;
    background-color:#4d5ae5;
}
.button:hover, .button:focus {
    background-color:#404bbf;
}
body {
    font-family:"Roboto", sans-serif;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#434455;
    background-color:#ffffff;
}
.features-block {
max-width: 100%;
justify-content: center;
}
.features-list {
    margin-right: 156px;
    margin-left: 156px;
    padding: 0;
    display: flex;    
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    width: 104px;
    width:calc((100% - 32px) / 4);
}
a {
    text-decoration:none;
}
.title-2 {
    font-size:36px;
    line-height:1.11;
    letter-spacing:0.02em;
    text-align:center;
    color:#2e2f42;
}
.title-3 {
    font-size:20px;
    font-weight:500;
    line-height:1.2;
    letter-spacing:0.02em;
    text-align:left;
    color:#2e2f42;
}
p {
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    text-align: left;
    color:#434455;
}
ul { 
    list-style-type:none;
}
.team {
    background-color:#f4f4fd;
}
.team-image {
    background-color:#ffffff;

}
.team-image img {
    display:block;
    margin:0;
}
.team-image h3,
.team-image p {
    text-align:center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo-text-1 {
    color:#f4f4fd;
}
footer {
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#f4f4fd;
    background-color: #2e2f42;
}
.text {
    color: #f4f4fd;
}